div{
	width:40px;
	height:10px;
	position:absolute;

}

.line1{
	background-color: purple;
	top: 50px;
	left:50px;

}

.line2{
	background-color: purple;
	top: 250px;
	left:50px;

}

.line3{
	background-color: purple;
	width:5px;
	height:190px;
    top: 60px;
	left:60px;x
}

.line4{
	background-color: purple;
	width:5px;
	height:190px;
    top: 60px;
	left:76px;
}

.line5{
	background-color: purple;
	width:10px;
	height:134px;
    top: 139px;
	left:120px;
	transform: rotate(140deg);
}

.line6{
	background-color: purple;
	top: 250px;
	left:139px;
	width:30px;
	height:10px;
}


.triangle1 {
  top: 68px;
  left: 75px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 90px solid rgb(137, 0, 181);

  transform: rotate(90deg);
}

.littletriangle{
  top: 250px;
  left: 158px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgb(127, 15, 126);

  transform: rotate(360deg);
}

.littletriangle2{
  top: 242px;
  left: 442px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 18px solid rgb(127, 15, 126);

  transform: rotate(360deg);
}

.A1{
	background-color: purple;
	top: 49px;
	left:360px;
	width:23px;
	height:10px;
}


.A2{
	background-color: purple;
	top: 250px;
	left:300px;
}


.A3{
	background-color: purple;
	top: 250px;
	left:420px;
}

.A4{
	background-color: purple;
	width:4px;
	height:213px;
    top: 50px;
	left:334px;
	transform: rotate(194deg);
}
.A5{
	background-color: purple;
	width:4px;
	height:213px;
    top: 50px;
	left:350px;
	transform: rotate(194deg);
}

.A6{
	background-color: purple;
	width:10px;
	height:220px;
    top: 44px;
	left:413px;
	transform: rotate(159deg);
}


.triangle2 {
  top: 55px;
  left: 351px;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 100px solid rgb(137, 0, 181);

  transform: rotate(358deg);
}


.N1{
	background-color: purple;
	top: 49px;
	left:587px;
	width:28px;
	height:10px;
}

.N2{
	background-color: purple;
	top: 250px;
	left:576px;
}

.N3{
	background-color: rgb(137, 0, 181);
	width:12px;
	height:218px;
    top: 46px;
	left:641px;
	transform: rotate(160deg);
}

.N4{
	background-color: purple;
	width:4px;
	height:200px;
    top: 53px;
	left:604px;
	transform: rotate(360deg);
}

.N6{
	background-color: purple;
	width:4px;
	height:200px;
    top: 58px;
	left:587px;
	transform: rotate(360deg);
}



.N5{
	background-color: purple;
	top: 250px;
	left:678px;
}


.N8{
	background-color: purple;
	top: 49px;
	left:587px;
	width:28px;
	height:10px;
}




.N7{
	background-color: purple;
	width:4px;
	height:200px;
    top: 58px;
	left:687px;
	transform: rotate(360deg);
}
.N8{
	background-color: purple;
	width:4px;
	height:200px;
    top: 58px;
	left:704px;
	transform: rotate(360deg);
}
.N9{
	background-color: purple;
	top: 49px;
	left:687px;
	width:28px;
	height:10px;
}



.G1{
	background-color: purple;
	width:4px;
	height:200px;
    top: 58px;
	left:840px;
	transform: rotate(360deg);
}
.G2{
	background-color: purple;
	width:4px;
	height:200px;
    top: 58px;
	left:856px;
	transform: rotate(360deg);
}


.G3{
	background-color: purple;
	top: 250px;
	left:840px;
	width:130px;
}

.G4{
background-color: purple;
	top: 58px;
	left:840px;
	width:130px;
}


.G5{
background-color: purple;
	width:10px;
	height:50px;
    top: 58px;
	left:960px;
	transform: rotate(360deg);
}

.G6{
	background-color: purple;
	width:10px;
	height:50px;
    top: 200px;
	left:960px;
	transform: rotate(360deg);
}



.Gtriangle {
  top: 140px;
  left: 902px;
  width: 0;
  height: 0;
  border-left: 28px solid transparent;
  border-right: 28px solid transparent;
  border-bottom: 80px solid rgb(137, 0, 181);

  transform: rotate(270deg);
}

.G7{

	background-color: purple;
	top: 98px;
	left:942px;
	width:28px;
	height:10px;
}











