html,body{

	padding: 0;
	margin: 0;
}



.logo{
	top: -25px;
	left:2vw;
	width:310px;
	height:310px;

	position: absolute;

}

.insta{
	top: -58px;
	left:85vw;
	width:180px;
	height:180px;

	position: absolute;

}



.pic{ 
	margin-left:-10px;

}



.HOME{ color: rgb(124, 210, 239);
	font-family: helvetica;
	font-weight: bold;
    top: 34px;
	position: absolute;
	z-index: 600;
	left: 54vw;
}
.HOME:hover {
	color: rgb(178,226,245);
}



.about{ color: rgb(124, 210, 239);
	font-family: helvetica;
	font-weight: bold;
	top: 34px;

	position: absolute;
	z-index: 600;
	left: 62vw;
}

.about:hover {
	color: rgb(178,226,245);
}



.ft{ color: rgb(124, 210, 239);
	font-family: helvetica;
	font-weight: bold;
	top: 34px;
	
	position: absolute;
	z-index: 600;
	left: 70vw;
}
.ft:hover {
	color: rgb(178,226,245);
}



.D{ color: rgb(124, 210, 239);
	font-family: helvetica;
	font-weight: bold;
top: 34px;
	position: absolute;
	z-index: 600;
	left: 80vw;
}
.D:hover {
	color: rgb(178,226,245);
}





.bar3{
	background-color: rgb(252, 247,242);
	width:100vw;
	height:60px;
    
	left: 0vw;
	
}


.bar{
	background-color: rgb(250, 175, 108);
	width:100vw;
	height:22px;
	left: 0px;

}



.picc{
     top: -2vw;

     position: absolute;
     z-index: 900px;
	
	left:100px;

}

