div{
	position:absolute;
}


body {
	background-color: rgb(228, 228, 228);
}



.bar{
	background-color: rgb(51,100,148);
	width:106px;
	height:720px;
    top:0px;
	left: 1176px;
	transform: rotate(360deg);
}



.TB{
	background-color: white;
	width:2px;
	height:200px;
    top: 184px;
	left: 1050px;
	transform: rotate(90deg);
}


.TB3{
	background-color: white;
	width:2px;
	height:200px;
    top: 147px;
	left: 1050px;
	transform: rotate(90deg);
}


.TB1{
	background-color: white;
	width:2px;
	height:39px;
    top: 246px;
	left: 951px;
	transform: rotate(180deg);
}

.TB2{
	background-color: white;
	width:2px;
	height:39px;
    top: 246px;
	left: 1150px;
	transform: rotate(180deg);
}



.OV1{
	background-color: white;
	width:2px;
	height:201px;
    top: 255px;
	left: 1050px;
	transform: rotate(90deg);
}


.OV2{
	background-color: white;
	width:2px;
	height:200px;
    top: 216px;
	left: 1050px;
	transform: rotate(90deg);
}


.OV3{
	background-color: white;
	width:2px;
	height:40px;
    top: 316px;
	left: 950px;
	transform: rotate(180deg);
}

.OV4{
	background-color: white;
	width:2px;
	height:39px;
    top: 316px;
	left: 1150px;
	transform: rotate(180deg);
}



.MG1{
	background-color: white;
	width:2px;
	height:200px;
    top: 331px;
	left: 1050px;
	transform: rotate(90deg);
}


.MG2{
	background-color: white;
	width:2px;
	height:200px;
    top: 294px;
	left: 1050px;
	transform: rotate(90deg);
}


.MG3{
	background-color: white;
	width:2px;
	height:39px;
    top: 393px;
	left: 950px;
	transform: rotate(180deg);
}

.MG4{
	background-color: white;
	width:2px;
	height:39.3px;
    top: 393px;
	left: 1150px;
	transform: rotate(180deg);
}




.time{
	font-family: 'Lato', sans-serif;
	color: rgb(219,54,126);
	font-size: 26px;
	left:786px;
	top: 232px;
	transform: rotate(316deg);
}







.MG{
font-family: 'Lato', sans-serif;
	left: 960px;
	top: 400px;
	font-size: 20px;
	color: white;
	width: 480px;

}
.MG:hover {
	color: rgb(92,131,169);
}









.perf{
font-family: 'Lato', sans-serif;
	left: 972px;
	top: 324px;
	font-size: 20px;
	color: white;
}
.perf:hover {
	color: rgb(92,131,169);
}






.tix{ 
font-family: 'Lato', sans-serif;
	left: 984px;
	top: 254px;
	font-size: 20px;
	color: white;
	width: 480px;
}

.tix:hover {
	color: rgb(92,131,169);
}




.logo{
	left: 1022px;
	top: 504px;
}



.danceimage{
	left: 172px;
	top: 10px;
	background-image: url(dance.png);
	width: 45vw;
	height: 100vh;
	background-size: cover;
	background-position: center center;
}





.SP{
font-family: 'Oswald', sans-serif;
position: absolute;
color: rgb(219,54,126);
font-size: 5.5vw;
right: 124px;
top: 8px;

}




.under{
	font-family: 'Lato', sans-serif;
	font-size: 1.4vw;
	right: -34px;
	top: 104px;
	width: 480px;
}


.date{
	color: rgb(92,131,169);
    font-family: 'Lato', sans-serif;
	width: 480px;
	font-size: 2vw;
	top: 216px;
	right:300px;
	transform: rotate(314deg);
}

.time{
	font-family: 'Lato', sans-serif;
	color: rgb(219,54,126);
	font-size: 2vw;
	top: 270px;
	left: 658px; 
	transform: rotate(316deg);
}



.logo2{
	display: none;
}

.add{
	display: none;

}



@media(max-width: 550px) {  /* Any window smaller than this px width gets the following CSS rules */
  /* Rules go here */
  

.logo2{
	display: block;
	top:860px;
	left: 20px;
}


.danceimage{
width: 100vw;
height: 100vh;
top: 86px;
left:0;

}






.add{
	display: block;
	color: white;
	font-size: 12px;
	top:910px;
	max-width: 210px;
	left: 120px;
	line-height: 15px;
    font-family: helvetica;
}



  .SP{
    font-size: 10vw;
    width: 100vw;
    text-align: center;
    right: auto;
    top: -10px;
}





.under{
	font-size: 3vw;
    width: 100vw;
    left: 132px;
    top: 60px;
}



.date{
	font-size: 4vw;
    width: 100vw;
    left: 188px;
    top: 84px;
    color: white;
    transform: rotate(360deg);
}

.time{
	font-family: 'Lato', sans-serif;
    color: white;
	font-size: 4vw;
	top: 82px;
    left: 310px;
	transform: rotate(360deg);
}






.bar{
	color: rgb(51,100,148);
	z-index: -5px;
	width:546px;
	height:200px;
    top:760px;
	left: 0px;
	transform: rotate(180deg);

}


.OV1{
background-color: rgb(198,198,198);
	width:2px;
	height:136px;
    top: 713px;
	left: 90px;
	transform: rotate(90deg);
}


.OV2{
background-color: rgb(198,198,198);
	width:2px;
	height:136px;
    top: 751px;
	left: 90px;
	transform: rotate(90deg);
}


.OV3{
	background-color: rgb(198,198,198);
	width:2px;
	height:40px;
    top: 780px;
	left: 21px;
	transform: rotate(180deg);
}

.OV4{
background-color: rgb(198,198,198);
	width:2px;
	height:40px;
    top: 780px;
	left: 159px;
	transform: rotate(180deg);
}

.TB{
	background-color: rgb(198,198,198);
	width:2px;
	height:136px;
    top: 751px;
	left: 253px;
	transform: rotate(90deg);
}


.TB3{
	background-color: rgb(198,198,198);
	width:2px;
	height:136px;
    top: 713px;
	left: 253px;
	transform: rotate(90deg);
}


.TB1{
	background-color: rgb(198,198,198);
	width:2px;
	height:39px;
    top: 780px;
	left: 186px;
	transform: rotate(180deg);
}

.TB2{
	background-color: rgb(198,198,198);
	width:2px;
	height:39px;
    top: 780px;
	left: 320px;
	transform: rotate(180deg);
}

.MG1{
	background-color: rgb(198,198,198);
	width:2px;
	height:136px;
    top: 713px;
	left: 415px;
	transform: rotate(90deg);
}


.MG2{
	background-color: rgb(198,198,198);
	width:2px;
	height:136px;
    top: 750px;
	left: 415px;
	transform: rotate(90deg);
}


.MG3{
	background-color: rgb(198,198,198);
	width:2px;
	height:39px;
    top: 780px;
	left: 346px;
	transform: rotate(180deg);
}

.MG4{
	background-color: rgb(198,198,198);
	width:2px;
	height:39px;
    top: 780px;
	left: 484px;
	transform: rotate(180deg);
}
.MG{
font-family: 'Lato', sans-serif;
	left: 353px;
	top: 789px;
	font-size: 14px;
	color: white;
	width: 480px;

}
.MG:hover {
	color: rgb(219,54,126);
}


.perf{
font-family: 'Lato', sans-serif;
	left: 197px;
	top: 789px;
	font-size: 14px;
	color: white;
}
.perf:hover {
	color: rgb(219,54,126);
}



.tix{ 
font-family: 'Lato', sans-serif;
	left: 48px;
	top: 789px;
	font-size: 14px;
	color: white;
	width: 480px;
}

.tix:hover {
	color: rgb(219,54,126);
}

}

