div{
	width:300px;
	height:10px;
	position:absolute;
	font-size: 16px;
	color: rgb(80,80,80);
	text-align: left;
	font-weight: 400;
	padding-top:40px;
}


body {
	background-color: rgb(224, 224, 224);
}

.H1950{
font-family: 'Abril Fatface', cursive;
color:  rgb(106, 175, 197);
font-size: 154px;
top: -45px;
left: 238px;
}



.line1{
	background-color: rgb(176, 176, 176);
	top: 55px;
	left:647px;
	width:8px;
	height:68px;

}

.title{
color:  rgb(106, 175, 197);
font-family: Helvetica, sans-serif;
top: 8px;
left:674px;
font-size: 16px;
width: 550px;
}

.para{
color: black;
font-family: Helvetica, sans-serif;
font-size: 12px;
width: 280px;
left: 674px;
top: 30px;
}

.first{
top: 190px;
left:109px;

}

.second{
top: 190px;
left:670px;

}

.third{
top: 890px;
left:673px;
}

.fourth{
top: 890px;
left:106px;
}

.fifth{
top: 1610px;
left:104px;
}

.sixth{
top: 1610px;
left:679px;
}


.box{
background-color:  rgb(106, 175, 197);
top: 2400px;
left:570px;
width:170px;
height:20px;
border-radius: 20px;
}


.home{
color: white;
font-family: Helvetica, sans-serif;
top: 2370px;
left:596px;
font-size: 40px;
width: 550px;
}


.box2{
background-color: rgb(224, 224, 224);
top: 2500px;
left:620px;
width:200px;
height:20px;

}

