div{
	width:300px;
	height:10px;
	position:absolute;
	font-size: 30px;
	color: rgb(80,80,80);
	text-align: left;
	font-weight: 400;
	padding-top:40px;
}

.bodycolor{
	background-color: rgb( 109, 110, 113);
	width:1400px;
	height:800px;
	top: -10px;
	left: -10px;
}

 .warrow{
left:1160px;
top: 570px;

}




.header{
left:90px;
top: -10px;
color: white;
font-family: 'Roboto Condensed', sans-serif;
font-size: 70px;
width: 500px;
line-height: 70px;
}


.pullout{
font-family: 'Merriweather', serif;
left:690px;
color: rgb( 0, 174, 239);
width:260px;
top: 174px;
font-size: 20px;
line-height: 30px;
}

.now{
left:890px;
top: 178px;

}



.paragraph{
padding-left: 40px;
font-family: 'Roboto Condensed', sans-serif;
font-size: 18px;
left:53px;
top: 320px;
width:400px;
color: black;
}



.DV{
left:690px;
top: 350px;
color: white;
font-family: 'Roboto Condensed', sans-serif;
font-size: 20px;
width: 500px;
line-height: 27px;
}










