div{
	width:300px;
	height:10px;
	position:absolute;
	font-size: 16px;
	color: rgb(80,80,80);
	text-align: left;
	font-weight: 400;
	padding-top:40px;
}


.pullout3{
padding-left: 40px;
font-family: 'Noto Serif', serif;
font-size: 30px;
left:20px;
top: 20px;
line-height: 38px;
color: rgb(224, 45, 48);

}



.girl2{
 left:170px;
	top: -20px;
}

.article2{
	 left:590px;
	top: 396px;
padding-left: 10px;
font-family: 'Roboto', sans-serif;
font-size: 14px;
}



.pullout2{
	padding-left: 40px;
font-family: 'Noto Serif', serif;
font-size: 39px;
left:560px;
line-height: 46px;
top: 90px;
color: rgb(76, 88, 167);
}

.arrow{
left:920px;
top: 460px;
}

.name{
padding-left: 40px;
font-family: 'Noto Serif', serif;
font-size: 18px;
left:560px;
line-height: 46px;
top: 350px;
color: rgb(76, 88, 167);
transform: rotate( 360deg);

}




