div{
	width:300px;
	height:10px;
	position:absolute;
	font-size: 16px;
	color: rgb(80,80,80);
	text-align: left;
	font-weight: 400;
	padding-top:40px;
}


.name{
	left: 462px;
	top: 225px;
}


.logo{
	left:445px;
	top: -80px;
}

.GD{
    left:850px;
	top: 236px;
}


.caption1{
	left:850px;
	top: 560px;
    font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: black;
}

.topblock{
padding-left: 40px;
font-family: 'Noto Serif', serif;
font-size: 20px;
left:430px;
top: 230px;
color: black;
font-weight: 100;
}


.pullout1{
padding-left: 40px;
font-family: 'Noto Serif', serif;
font-size: 39px;
left:50px;
top: 220px;
color: rgb(224, 45, 48);
}

.article1{
top: 266px;
padding-left: 10px;
font-family: 'Roboto', sans-serif;
font-size: 14px;
left: 460px;
}





