h1{
	margin-left: 8vw;
	color: rgb(115,12,16);
	font-size: 36px;
	margin-top:-710px;
	text-indent: 50px;
	font-family: 'Share', cursive;
}


h2{
	margin-top:-40px;
text-indent: 28px;
color: rgb(115,12,16);

}



.plaza{
	margin-top:80px;
	margin-left: 0vw;
}





.chelsea{
	margin-top:-700px;
	margin-left: 54vw;

}


.wolcott{
	top:70px;
	margin-left: 8vw;
}


.brow2{
	top:900px;
	margin-left: 0vw;

}




.pman{
	top:900px;
	margin-left:53vw;
}


body{
	background-color: white;

}